# Ignorar archivos compilados (.class)
*.class

# Ignorar directorios de compilación
/bin/
/out/
/build/
/target/

# VS Code
.vscode/

# Evitar subir clases compiladas
out/

# Archivos del sistema
.DS_Store

# Archivos temporales
*.class
